.comment-wrapper {
    display: flex;
    align-items: baseline;
    font-size: 10px;
    margin: 0;
    line-height: 3px;
}

.comment-wrapper h3 {
    font-weight: bold;
}

.comment-wrapper p {
    margin-left: 5px;
}